/* typography */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	font-size: 100%;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	background-color: #ffffff;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}
}

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 3em;
}

p,
ul li {
	font-size: 16px;
}

/* global */

hr.blue {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #1e2f4c;
    margin: 1em 0;
    padding: 0; 
}

hr.sm {
	width: 230px;
	margin: 1em auto;
}

.hr-shadow {
	margin: 1.25rem 0 1.75rem 0;
}

@media screen and (min-width: 768px) {
	.two-col {
		-webkit-column-count: 2;
		   -moz-column-count: 2;
		        column-count: 2;
	}
}

.spacer {
	margin: 3rem 0;
}

.hide {
	display: none;
}

/* buttons */

.btn {
	display: inline-block;
	vertical-align: middle;
	border: solid 1px transparent;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.5rem 2rem;
	font-size: 1.3rem;
}

.btn-green {
	background-color: #aee648;
	color: #1e2f4c;
}

.btn-blue {
	background-color: #202f4c;
	color: #ffffff;
}

/* forms */

.wpcf7-submit {
    font-size: 1.5em;
}

input {
	font-size: 16px;
}

/* gallery */

.gallery-holder {
	background-color: #f0f0f0;
}

.slick-slide {
  margin: 0 27px;
}

.slick-list {
  margin: 0 -27px;
}

.gallery .slick-next:before,
.gallery .slick-prev:before {
    color: #000;
}

.gallery-slick {
	padding: 0;
	list-style-type: none;
}

.gallery-slick li {
	margin-bottom: 1rem;
}

.gallery-pad {
	padding: 0 3rem;
}

/* header */

header {
	background: url(images/header-bg.jpg);
}

.site-header {
    padding: 2em 0 3em 0;
}

.site-header hr {
	margin-bottom: 0.3em;
}

.site-header .sub-header {
	font-size: 1.5em;
	color: #ffffff;
	font-family: 'Playfair Display', serif;
}

.site-header h1, .site-header h2 { 
	color: white;
}

.cta { 
	background-color: #1e2f4c; 
	color: #aee648;
	padding: 1em 0 0.5em;
}

.cta-text {
	margin-right:2em;
	font-size: 1.6em;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Playfair Display', serif;
}

/* page elems */

.intro {
	background:white; 
	padding: 40px 0; 
	text-align: center;
}

.intro p {
	color: #6c767e;
}


/* 4 cols */

.content-col {
	padding: 3em 4em;
/*	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center*/
}

@media screen and (min-width: 992px) {
	.content-col {
		min-height: 410px;
	}
}

.find-us {
	background-color: #1e2f4c;
	text-align: center;
}

.find-us .heading {
	color: #ffffff;
}

.find-us p {
	color: #9ca6b7;
}

.find-us .find-us-tag {
	font-size: 1.35em;
	margin-top: 1.5rem;
	color: #aee648;
}

.equipment {
	background-color: #f0efef;
}

.equipment ul {
	margin-top: 2em;
}

.equipment ul li {
	color: #1e2f4c;
}

.equipment ul li small {
	color: #7988a2;
}

.quote {
	background-color: #7eb21e;
	padding: 5em 6em;
}

.quote p {
	font-family: 'Playfair Display', serif;
	color: #ffffff;
	text-align: center;
	font-size: 2em;
}

@media screen and (min-width: 1980px) { 
	.quote {
	    padding: 5em 16em;
	}
	.quote p {
	    font-size: 2.5em;
	}
}

.price-list {
	background-color: #ffffff;
}

.price-list h2,
.price-list h3 {
	color: #7eb21e;
}

.price-list p {
	color: #1e2f4c;
}

.price-list small {
	color: #7988a2;
}

.price-list ul li {
	margin: 1rem 0;
}

.price-desk {
	display: none;
}

.price-list {
    display: block;
}

.price-mob {
	text-align: center;
}

@media screen and (min-width: 992px) {
	.price-desk {
		display: block;
	}
	.price-mob {
		display: none;
	}
	.price-list .row {
		width: initial;
	}
}

/* footer */

#inner-footer {
	background-color: #202f4c;
	color: #ffffff;
}

.social-icons {
	margin-bottom: 1.5rem;
}

.social-icons a {
	display: inline-block;
	margin: 0 1rem;
	color: #636e82;
}